@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento');


/* Base styles */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #f9f9f9;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif, Arial, sans-serif;
}


/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 4.375rem;
    padding: 0 1rem;
}



header h1 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.875rem;
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color: #3b3b3b;
}

header h1 a:hover {
    color: #757575;
}



.hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #3b3b3b;
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    text-decoration: none;
    margin-right: 2.5rem;
    font-size: 1.125rem;
    color: #3b3b3b;
}

nav a:hover {
    color: #757575;
}

nav a:last-child {
    margin-right: 0;
}

/* Main Image Section */
.bg-full-image img {
    display: block;
    width: 100%;
    border: 1px solid #b4b4b4;
}

.full-width {
    width: 100%;
}

/* Typography */
h2 {
    font-family: 'Quattrocento', sans-serif;
    font-size: 2.25rem;
    color: #3b3b3b;
}

h3 {
    font-family: 'Quattrocento', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3b3b3b;
    margin-bottom: 0.75rem;
}



p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #757575;
}

.center {
    text-align: center;
}

em {
    font-size: 0.875rem;
    line-height: 1.125rem;
    display: block;
    color: #757575;
}

/* Layouts and Containers */
#content {
    padding-top: 3.75rem;
    min-height: 25rem;
    width: 100%;
}

.wrapper {
    width: 90%;
    padding: 1rem;
    margin: auto;
}

hr {
    height: 0.125rem;
    background-color: #d4d4d4;
    border: none;
    margin: 3.45rem auto 6.25rem auto;
    position: relative;
    width: calc(100% + 2rem);
    left: -1rem;
}

/* About and Product Sections */
#about-section, #product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.45rem;
}

.half-width {
    flex-basis: calc(50% - 0.5rem);
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    box-sizing: border-box;

}

.half-width img {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.half-width img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Delivery Section */
.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
}


#delivery a {
    font-size: medium;
}

/* Contact List */
ol {
    list-style: none;
    padding: 0;
    margin: auto;
    width: fit-content;
    text-align: center;
}

ol li {
    margin-bottom: 0.5rem;
}

ol li a {
    text-decoration: none;
    color: #3b3b3b;
    font-family: 'Quattrocento', sans-serif;
    font-size: 1.125rem;
}

ol li a:hover {
    color: #757575;
}

/* Footer Section */
footer {
    width: 100%;
    background-color: #3b3b3b;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

footer a:hover {
    color: #757575;
}

footer p {
    color: white;
    font-size: 0.875rem;
    margin: 0;
    padding: 0.25rem 0;
}

#social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1rem auto;
}

#social li {
    padding: 0.75rem;
}


#soical-heading {
    font-size: 1.125rem;
    color: white;
    margin-bottom: 0.5rem;
}


/* Media Queries */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .wrapper {
        width: 90%;
    }

    header {
        margin-top: 1rem;
    }

    header h1, header h3, nav a {
        font-size: 0.875rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    nav {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    nav a {
        display: block;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: 15px;
        border-top: 1px solid #f1f1f1;
    }

    nav a:hover, nav a:focus {
        background-color: #f8f8f8;
    }

    p, h3, em {
        font-size: 0.875rem;
    }

    #about-section, #product-section {
        flex-direction: column;
    }
}